* {
    border: none;
    border-radius: 2;
    font-family: "Source Code Pro";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor, #custom-root, #custom-home {
    padding: 0 10px;
    margin: 0 5px;
    background-color: #282a36;
    color: #81c1e4
}
#window {
    color: #81c1e4;
}

#battery.charging {
    color: #ff79c6;
}

#battery.critical:not(.charging) {
    color: #f53c3c
}
