* {
    border: none;
    border-radius: 5 5 0 0;
    font-family: "SauceCodePro Nerd Font Mono";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0);
}

#workspaces button {
    padding: 0 3;
    background: transparent;
    border-bottom: 3px solid transparent;
    color: #f8f8f2;
}

#workspaces {
    margin: 0 3;
}

#workspaces button.focused {
    background: #282a36;
    border-bottom: 3px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #idle_inhibitor, #custom-root, #custom-home {
    padding: 0 10px;
    margin: 0 3px;
    background-color: #282a36;
    color: #81c1e4;
}

#mode {
    padding: 0 10px;
    margin: 0 3px;
    color: #282a36;
    background-color: #50fa7b;
}

#window {
    color: #81c1e4;
}

#battery.charging {
    color: #ff79c6;
}

#battery.critical:not(.charging) {
    color: #f53c3c
}
